{% extends 'BricksSiteBundle:UserProfile:layout.html.twig' %}

{# META TAGS blocks #}
{% set meta_title_content = user.username~" published bricks | SymfonyBricks.com" %}
{% set meta_description_content = "Published bricks of "~user.username~" on SymfonyBricks.com" %}

{% block meta_title_content %}{{ meta_title_content }}{% endblock %}
{% block meta_description_content %}{{ meta_description_content }}{% endblock %}
{% block meta_og_title_content %}{{ meta_title_content }}{% endblock %}
{% block meta_og_description_content %}{{ meta_description_content }}{% endblock %}
{# END META TAGS blocks #}

{% block user_profile_content %}

    <h3>
        {{ 'nav-userprofile.published_bricks'|trans({}, 'controller-userprofile') }}
    </h3>
    
    <ul class="bricks-list">
        {% for brick in publishedBricks %}
            <li>
                <a href="{{ path('brick_show', {id: brick.id, slug: brick.slug}) }}">
                    {{ brick.title }}
                </a>
                <p>
                    <i class="icon-user"></i> <a href="{{ path('userprofile_show', {'username': brick.user.username}) }}">{{ brick.user }}</a>
                    |
                    <i class="icon-calendar"></i> last update: {{ brick.updatedAt|date('d/m/Y') }}
                </p>
            </li>
        {% endfor %}
    </ul>
        
{% endblock %}
