{% extends "BricksUserBundle::layout.html.twig" %}

{% block main %}

    <div class="row">
        <div class="span12">
        
            <h1><i class="icon-home"></i> {{ 'user_navbar.dashboard'|trans({}, 'UserBundle')|capitalize }}</h1>
            
            <ul id="large-icons">
                <li>
                    <a href="{{ path('user_brick_starred') }}">
                        <i class="icon-star"></i>
                        <br><br>
                        {{ 'user_navbar.bricks_starred'|trans({}, 'UserBundle')|upper }}
                    </a>
                </li>
                <li>
                    <a href="{{ path('user_brick') }}">
                        <i class="icon-book"></i>
                        <br><br>
                        {{ 'user_navbar.bricks'|trans({}, 'UserBundle')|upper }}
                    </a>
                </li>
            </ul>
        </div>
    </div>

{% endblock %}