<form action="{{ path('user_brick_delete', {'id': id}) }}" method="post" {{ form_enctype(form) }} onSubmit="return confirm('{{ 'brick.confirm_deletion'|trans({}, 'UserBundle') }}');">
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-mini"><i class="icon-trash"></i> {{ 'delete'|trans }}</button>
</form>