{% extends "BricksUserBundle::layout.html.twig" %}

{% import "BricksSiteBundle::macros/macrosInfo.html.twig" as macrosInfo %}

{% block main %}

    <div class="row">
        <div class="span12">
            <form action="{{ (entity.isNew) ? path('user_brick_create') : path('user_brick_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(form) }} id="user-brick-edit" class="form form-horizontal" novalidate>

                <p>
                    <div class="pull-right">
                    <button type="submit" class="btn btn-success">
                        <i class="icon-ok"></i> {{ 'save'|trans|capitalize }}
                    </button>
                    <a href="{{ path('user_brick') }}" class="btn">
                        <i class="icon-chevron-left"></i> {{ 'back_to_the_list'|trans|capitalize }}
                    </a>
                    </div>
                    
                    <h1>{{ (entity.isNew) ? 'brick.create_new_brick'|trans({}, 'UserBundle'): 'brick.edit_brick'|trans({}, 'UserBundle') }}</h1>
                </p>
                
                <br>
                
                {% if form_errors(form) %}
                    <div class="form-errors">
                        {{ form_errors(form) }}
                    </div>
                {% endif %}
            
                <div class="control-group">
                    <label class="control-label" for="{{ form.title.vars.id }}">
                        {# info modal #}
                        {{ macrosInfo.bootstrapInfoModal('brick.help.title.title'|trans({}, 'UserBundle'), 'brick.help.title.body'|trans({}, 'UserBundle')) }}
                        
                        {# label #}
                        {{ 'brick.title'|trans({}, 'UserBundle')|capitalize }}
                    </label>
                    <div class="controls">
                        {{ form_widget(form.title) }}
                    </div>
                </div>
                
                <div class="control-group">
                    <label class="control-label" for="{{ form.description.vars.id }}">
                        {{ 'brick.description'|trans({}, 'UserBundle')|capitalize }}
                    </label>
                    <div class="controls">
                        {{ form_widget(form.description) }}
                    </div>
                </div>
                
                <div class="control-group">
                    <div class="controls">
                        <ul class="nav nav-tabs" id="content-tab">
                            <li class="active">
                                <a href="#content-code" data-toggle="tab">
                                    {{ 'brick.content'|trans({}, 'UserBundle')|capitalize }}
                                </a>
                            </li>
                            <li>
                                <a href="#content-preview" data-toggle="tab">
                                    {{ 'brick.preview'|trans({}, 'UserBundle')|capitalize }}
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="content-code">
                                {{ form_widget(form.content) }}
                            </div>
                            <div class="tab-pane" id="content-preview"></div>
                        </div>
                    </div>
                </div>
                
                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn btn-success">
                            <i class="icon-ok"></i> {{ 'save'|trans|capitalize }}
                        </button>
                        <a href="{{ path('user_brick') }}" class="btn">
                            <i class="icon-chevron-left"></i> {{ 'back_to_the_list'|trans|capitalize }}
                        </a>
                    </div>
                </div>
                
                {{ form_rest(form) }}
                
            </form>
            
        </div>
    </div>

{% endblock %}

{% block javascripts_footer %}
    <script type="text/javascript">
        jQuery(function($) {
            $('a[data-toggle="tab"]').on('shown', function (e) {
                
                // tab element pressed
                var tabCaller = $(e.target);

                // tab pane related
                var paneTarget = $(tabCaller.attr('href'));

                // if preview is requested
                if (tabCaller.attr('href') == '#content-preview') {

                    /**
                     * perform ajax call to preview content
                     */
                	$.ajax({
                	    url: "{{ path('_user_brick_renderMarkdown') }}",
                	    data: {
            	            'content': $('#content-code textarea').val()
        	            },
        	            type: 'POST',
        	            beforeSend: function(e) {
        	            	$('#content-preview').html('loading preview...');
                        },
        	            complete: function(e) {
        	            	$('#content-preview').html(e.responseText);
                        }
            		})
                }
            })
        });
    </script>
{% endblock %}
