{% extends "BricksUserBundle::layout.html.twig" %}

{% block main %}

    <div class="row">
        <div class="span12">
        
            <h1>Bricks</h1>
            
            <table class="records_list table table-striped">
                <thead>
                    <tr>
                        <th>{{ 'brick.title'|trans|capitalize }}</th>
                        <th>{{ 'brick.published'|trans|capitalize }}</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr>
                        <td>
                            <a href="{{ path('user_brick_edit', { 'id': entity.id }) }}">{{ entity.title }}</a>
                            <br>
                            <i class="icon-calendar"></i> {{ 'brick.last_update'|trans }}: {{ entity.updatedat|date('Y-m-d H:i:s') }}
                        </td>
                        <td>
                            {% if (entity.published) %}
                                <a href="{{ path('user_brick_toggle_published', { 'id': entity.id }) }}" class="btn btn-success"><i class="icon-ok icon-white"></i> {{ 'brick.published'|trans|capitalize }}</a>
                            {% else %}
                                <a href="{{ path('user_brick_toggle_published', { 'id': entity.id }) }}" class="btn"><i class="icon-remove"></i> {{ 'brick.not_published'|trans|capitalize }}</a>
                            {% endif %}
                        </td>
                        <td>
                            <a href="{{ path('user_brick_edit', { 'id': entity.id }) }}" class="btn btn-mini"><i class="icon-edit"></i> {{ 'edit'|trans }}</a>
                            {% render 'BricksUserBundle:Brick:_deleteForm' with {'id': entity.id} %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            
            <a href="{{ path('user_brick_new') }}" class="btn btn-primary">
                {{ 'brick.create_new_brick'|trans({}, 'UserBundle') }}
            </a>
        </div>
    </div>

{% endblock %}