{% extends "BricksUserBundle::layout.html.twig" %}

{% block main %}

    <div class="row">
        <div class="span12">
        
            <a href="{{ path('user_brick_new') }}" class="btn btn-primary pull-right">
                <i class="icon-check"></i> {{ 'brick.create_new_brick'|trans({}, 'UserBundle') }}
            </a>
            
            <h1>Bricks</h1>
            
            <table id="bricks-table" class="records_list table table-striped">
                <thead>
                    <tr>
                        <td>
                            <i class="icon-book"></i> {{ 'brick.title'|trans|capitalize }}
                        </td>
                        <td class="published">
                            <i class="icon-bullhorn"></i> {{ 'brick.published'|trans|capitalize }}
                        </td>
                        <td class="license">
                            <i class="icon-legal"></i> {{ 'brick.license'|trans|capitalize }}
                        </td>
                        <td class="last_update">
                            <i class="icon-calendar"></i> {{ 'brick.last_update'|trans|capitalize }}
                        </td>
                        <td class="actions">
                            <i class="icon-reorder"></i>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    {% for entity in entities %}
                        <tr>
                            <td>
                                <a href="{{ path('user_brick_edit', { 'id': entity.id }) }}">{{ entity.title }}</a>
                            </td>
                            <td class="published">
                                <a href="{{ path('user_brick_toggle_published', { 'id': entity.id }) }}">
                                    {% if (entity.published) %}
                                        <i class="icon-published icon-ok"></i>
                                    {% else %}
                                        <i class="icon-not-published icon-ok"></i>
                                    {% endif %}
                                </a>
                            </td>
                            <td class="license">
                                {% if entity.brickLicense %}
                                    {{ entity.brickLicense.titleShort }}
                                {% else %}
                                    {{ 'brick.no_license_applied'|trans }}
                                {% endif %}
                            </td>
                            <td class="last_update">
                                {{ entity.updatedat|date('d M Y') }}
                                <br>
                                {{ entity.updatedat|date('H:i:s') }}

                            </td>
                            <td class="actions">
                                <a href="{{ path('user_brick_edit', { 'id': entity.id }) }}" ><i class="icon-edit"></i></a>
                                {% render 'BricksUserBundle:Brick:_deleteForm' with {'id': entity.id} %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            
        </div>
    </div>

{% endblock %}
