{% extends 'BricksSiteBundle::layout.html.twig' %}

{# META TAGS blocks #}
{% set meta_title_content = "Bricks | SymfonyBricks.com" %}
{% set meta_description_content = "List of bricks hosted on SymfonyBricks.com" %}

{% block meta_title_content %}{{ meta_title_content }}{% endblock %}
{% block meta_description_content %}{{ meta_description_content }}{% endblock %}
{% block meta_og_title_content %}{{ meta_title_content }}{% endblock %}
{% block meta_og_description_content %}{{ meta_description_content }}{% endblock %}
{# END META TAGS blocks #}

{% block main %}

    <div class="row">
        <div class="span12">
            <h2>Bricks</h2>
            
            <ul class="bricks-list">
                {% for brick in bricks %}
                    <li>
                        <a href="{{ path('brick_show', {id: brick.id, slug: brick.slug}) }}">
                            {{ brick.title }}
                        </a>
                        <p>
                            <i class="icon-user"></i> {{ brick.user }}
                            |
                            <i class="icon-calendar"></i> {{ 'brick.last_update'|trans }}: {{ brick.updatedAt|date('d/m/Y') }}
                        </p>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
        
{% endblock %}