{% extends 'BricksSiteBundle::layout.html.twig' %}

{% import "BricksSiteBundle::macros/macrosBrick.html.twig" as macrosBrick %}

{% block main %}

    <div class="row">
        <div class="span12">
        
            <form action="{{ path('brick_search') }}" id="form-search" class="well">
                <h1>{{ 'brick.search.page_title'|trans }}</h1>
                
                <div class="box">
                    <label>{{ 'brick.search.form.q'|trans }}</label>
                    <input name="q" class="span6" type="text" value="{{ app.request.get('q') }}">
                </div>
                
                <div class="box">
                    <label>Tag</label>
                    <input name="tag" class="span3" size="16" type="text" value="{{ app.request.get('tag') }}">
                </div>
                
                <div class="box buttons">
                    <label>&nbsp;</label>
                    <button class="btn btn-primary" type="submit"><i class="icon-search"></i> {{ 'brick.search.form.button_submit'|trans }}</button>
                </div>
            </form>
            
            {% if entities|length > 0 %}
                <ul class="bricks-list">
                    {% for brick in entities %}
                        <li>
                            <a href="{{ path('brick_show', {id: brick.id, slug: brick.slug}) }}">
                                {{ brick.title }}
                            </a>
                            <p class="brick-info">
                                <i class="icon-user"></i> <a href="{{ path('userprofile_show', {'username': brick.user.username}) }}">{{ brick.user }}</a>
                                |
                                <i class="icon-calendar"></i> {{ 'brick.last_update'|trans }}: {{ brick.updatedAt|date('d M Y') }}
                                <br>
                                {{ macrosBrick.toggleUserStarsBrick(brick) }}
                                |
                                <i class="icon-tag"></i> {{ brick_formatted_tags(brick)|raw }}
                            </p>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                {{ 'brick.search.no_results'|trans }}
            {% endif %}
        
        </div>
    </div>
    
{% endblock %}
