{% extends 'BricksSiteBundle::layout.html.twig' %}

{% import "BricksSiteBundle::macros/macrosBrick.html.twig" as macrosBrick %}

{# SEO blocks #}
{% block meta_title_content %}{{ brick.title }} | SymfonyBricks.com{% endblock %}
{% block meta_description_content %}{{ brick.description }}{% endblock %}

{# canonical url #}
{% block canonical_url %}
    {% if brick.canonicalUrl|trim != '' %}
        {{ brick.canonicalUrl|trim }}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock canonical_url %}


{% block main %}

    <div class="row">
        <div class="span12">
        
            <h1>{{ brick.title }}</h1>
            
            <p class="description">{{ brick.description }}</p>
            
            <div id="info">
                <div id="social-share">
                    <div>
                        <a  href="https://twitter.com/share"
                            class="twitter-share-button pull-right"
                            
                            data-url="{{ app.request.uri }}"
                            data-text="{{ brick.title }}"
                            data-via="SymfonyBricks"
                        >
                            Tweet
                        </a>
                    </div>
                    <div>
                        <g:plusone width="70"></g:plusone>
                    </div>
                </div>
                <i class="icon-user"></i> <a href="{{ path('userprofile_show', {'username': brick.user.username}) }}">{{ brick.user }}</a>
                |
                <i class="icon-calendar"></i> {{ 'brick.last_update'|trans }}: {{ brick.updatedAt|date('d/m/Y') }}
                |
                {{ macrosBrick.toggleUserStarsBrick(brick) }}
                
            </div>
            
            <div class="content">
                {{ brick.content|markdown }}
            </div>
            
            <hr>
            
            {{ knp_disqus_render('symfonybricks', {'identifier': '/brick-'~brick.id, 'limit': 10}) }}
        </div>
    </div>
        
{% endblock %}
