{% extends 'BricksSiteBundle::layout.html.twig' %}

{% import "BricksSiteBundle::macros/macrosBrick.html.twig" as macrosBrick %}
{% import "BricksSiteBundle::macros/macrosBrickLicense.html.twig" as macrosBrickLicense %}

{# META TAGS blocks #}
{% set meta_title_content = brick.title~" | SymfonyBricks.com" %}
{% set meta_description_content = brick.description %}

{% block meta_title_content %}{{ meta_title_content }}{% endblock %}
{% block meta_description_content %}{{ meta_description_content }}{% endblock %}
{% block meta_og_title_content %}{{ meta_title_content }}{% endblock %}
{% block meta_og_description_content %}{{ meta_description_content }}{% endblock %}
{# END META TAGS blocks #}

{# canonical url #}
{% block canonical_url %}
    {% if brick.canonicalUrl|trim != '' %}
        {{ brick.canonicalUrl|trim }}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock canonical_url %}


{% block main %}

    <div itemscope itemtype ="http://schema.org/CreativeWork">

        <div id="info">
            <div class="row">
                <div class="span9">
                    <p>
                        <span itemprop="author" itemscope itemtype="http://schema.org/Person">
                            <i class="icon-user"></i>
                            <a href="{{ path('userprofile_show', {'username': brick.user.username}) }}" itemprop="url">
                                <span itemprop="name">{{ brick.user }}</span>
                            </a>
                        </span>
                        |
                        <i class="icon-calendar"></i>
                        {{ 'brick.last_update'|trans }}:
                        <time itemprop="dateModified" datetime="{{ brick.updatedAt|date('Y-m-d') }}">
                            {{ brick.updatedAt|date('d M Y') }}
                        </time>
                    </p>
                    <p>
                        {{ 'brick.license'|trans|title }}: {{ (brick.brickLicense) ? macrosBrickLicense.brickLicenseModal(brick) : '-' }}
                    </p>
                    <p>
                        <i class="icon-tag"></i> {{ brick_formatted_tags(brick)|raw }}
                    </p>
                    <p>
                        {{ macrosBrick.toggleUserStarsBrick(brick) }}
                    </p>
                </div>
                <div class="span3">

                    <div class="message-actions">
                        {% render 'BricksMessageBundle:ButtonModalMessage:_buttonModalMessageToUser' with {brick: brick} %}
                        {% render 'BricksMessageBundle:ButtonModalMessage:_buttonModalMessageClaimBrick' with {brick: brick} %}
                    </div>
                </div>
            </div>
        </div>

        <div id="affix-info">
            <div class="row">
                <div class="span8">
                    <div class="btn-group" id="brick-chapters">
                        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="icon-bookmark"></i> {{ 'index'|trans({}, 'route_brick_show')|capitalize }}
                            <span class="caret"></span>
                        </a>
                        <ul id="chapters-index" class="dropdown-menu"></ul>
                    </div>

                    <a href="javascript:void(0);" onclick="$('html, body').animate({scrollTop:0}, 200);" id="scroll-to-top">
                        {{ 'scroll_to_top'|trans({}, 'route_brick_show') }} <i class="icon-chevron-up"></i>
                    </a>
                </div>
                <div class="span4">
                    <div id="social-share" class="social-buttons">
                        <a  class="socialite twitter-share"
                            href="http://twitter.com/share"
                            data-url="{{ app.request.uri }}"
                            data-text="{{ brick.title }}"
                            data-via="SymfonyBricks"
                        >
                            Twitter
                        </a>
                        <a  class="socialite googleplus-one"
                            data-size="medium"
                            data-url="{{ app.request.uri }}"
                        >
                            Google+
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="span12">
                <h1 class="title" itemprop="headline">
                    {{ brick.title }}
                </h1>

                <div class="description" itemprop="description">
                    {{ brick.description|nl2br }}
                </div>

                <div class="content" itemprop="text">
                    {{ brick_highlight_code(brick.content|markdown)|raw }}
                </div>

                <hr>

                {{ knp_disqus_render('symfonybricks', {'identifier': '/brick-'~brick.id, 'limit': 10}) }}
            </div>
        </div>

    </div>

    <script>

        $(function() {
            var affixedElement = $('#affix-info');
            // apply affix behavior
            affixedElement.affix({
                offset: affixedElement.position().top - 1
            });

            // adjust .content margin-top when #info is affixed
            $(window).on('scroll', function() {
               if (affixedElement.hasClass('affix')) {
                   var infoHeight = $('#info').outerHeight(true);
                   affixedElement.next().css('margin-top', infoHeight);
               } else {
                   affixedElement.next().css('margin-top', 0);
               }
            });

            /**
             * compile chapters index
             */
            var chaptersIndex = $('#chapters-index');

            $('.content').find('h1').each(function(index) {

                // set the "id" attribute to <h1> elements
                $(this).attr('id', 'chapter'+index);

                // <a> tag representing the link to a chapter
                var a = $('<a href="javascript:void(0);" data-offset-top="'+$(this).offset().top+'"/>').html(
                    $(this).html()
                );

                // bind click event to scroll to chapter
                a.click(function() {
                    var offset = $(this).data('offset-top') - $('#info').height();
                    $('html, body').animate({scrollTop: offset}, 200);
                });

                // add <a> tag to chapters list in <ul>
                chaptersIndex.append(
                    $('<li />').html(a)
                )
            });
        });

    </script>

{% endblock %}
