{% extends "BricksUserBundle::layout.html.twig" %}

{% import 'BricksSiteBundle::macros/macrosBootstrapForms.html.twig' as macrosBootstrapForms %}

{% block main %}

    <div class="row">
        <div class="span8 offset2">
        
            <h1>{{ 'profile.page_title'|trans({}, 'FOSUserBundle') }}</h1>
            
            <br><br>
        
            <form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit security-form form form-horizontal" novalidate>


                {{ macrosBootstrapForms.controlGroup(form.username) }}

                {{ macrosBootstrapForms.controlGroup(form.email) }}

                <div class="control-group ">

                    <label class="control-label">{{ form.profileImage.vars.label }}</label>

                    <div class="controls">

                        {% if app.user.profileImage and app.user.profileImage.isReadable %}
                            <img src="{{ vich_uploader_asset(app.user, 'profileImage') | apply_filter('user_profile_small_thumb') }}" class="user_profile_image">
                        {% endif %}

                        {{ form_widget(form.profileImage) }}
                    </div>

                </div>

                {{ macrosBootstrapForms.controlGroup(form.emailpolicy_send_on_new_message) }}


                {{ form_rest(form) }}

                <div>
                    <input type="submit" value="{{ 'profile.edit.submit'|trans({}, 'FOSUserBundle') }}" class="btn btn-primary" />
                </div>

            </form>
            
        </div>
    </div>

{% endblock %}
