{% extends "BricksUserBundle::layout.html.twig" %}

{% block main %}

    <div class="row">
        <div class="span6 offset3">
        
            <h1>{{ 'profile.page_title'|trans({}, 'FOSUserBundle') }}</h1>
            
            <br><br>
        
            <form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit security-form">
                {{ form_widget(form) }}
                <div>
                    <input type="submit" value="{{ 'profile.edit.submit'|trans({}, 'FOSUserBundle') }}" class="btn btn-primary" />
                </div>
            </form>
            
        </div>
    </div>

{% endblock %}
