{% extends "BricksUserBundle::layout.html.twig" %}

{% block main %}

    <div class="row">
        <div class="span6 offset3">

            <h1>{{ 'change_password.title'|trans({}, 'FOSUserBundle') }}</h1>
        
            <br><br>
        
            <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password security-form">
                {{ form_widget(form) }}
                <div>
                    <input type="submit" value="{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}" class="btn btn-primary" />
                </div>
            </form>
            
        </div>
    </div>
    
{% endblock %}