{% extends 'BricksSiteBundle::layout.html.twig' %}

{# META TAGS blocks #}
{% set meta_title_content = "Changelog | SymfonyBricks.com" %}
{% set meta_description_content = "All major changes to SymfonyBricks code." %}

{% block meta_title_content %}{{ meta_title_content }}{% endblock %}
{% block meta_description_content %}{{ meta_description_content }}{% endblock %}
{% block meta_og_title_content %}{{ meta_title_content }}{% endblock %}
{% block meta_og_description_content %}{{ meta_description_content }}{% endblock %}
{# END META TAGS blocks #}

{% block main %}

    <div class="row">
        <div class="span12">
            {{ changelog_content|markdown }}
        </div>
    </div>
    
{% endblock %}
