{% extends 'BricksSiteBundle::layout.html.twig' %}

{% import "BricksSiteBundle::macros/macrosBrick.html.twig" as macrosBrick %}

{% block main %}

    <div class="row">
        <div class="span8" style="text-align: left;">
            <img src="{{ asset('img/homepage-logo-cropped.png') }}" alt="SymfonyBricks" {#style="height: 80px;"#} />

            <br><br>

            <p style="font-size: 22px;">
                {% if 'it' == app.request.locale %}
                    Costruito dalla comunità Symfony, per la comunità.
                {% elseif 'es' == app.request.locale %}
                    Construido por la comunidad Symfony, para la comunidad.
                {% else %}
                    Built by the Symfony community, for the community.
                {% endif %}
            </p>
            <br>
            <p>
                <i class="icon-lightbulb" style="vertical-align: middle;"></i>
                {% if 'it' == app.request.locale %}
                    Hai creato qualcosa di nuovo o risolto un problema relativo ad progetto Symfony?
                    <br />
                    Condividi qui le tue idee e la tua eperienza!
                {% elseif 'es' == app.request.locale %}
                    Creaste algo nuevo o resolviste un problema relacionado con Symfony?
                    <br />
                    ¡Comparte aquí tus ideas y experiencia!
                {% else %}
                    Did you create something new o resolved a problem related to a Symfony project?
                    <br />
                    Share here your ideas and experience!
                {% endif %}
            </p>
        </div>
        <div class="span4 right-col">
            <ul>
                <li>
                    <a href="{{ path('fos_user_registration_register') }}" id="btn-signup" class="btn btn-success" onclick="_gaq.push(['_trackEvent', 'SymfonyBricks', 'page#index', 'registration']);">
                        <i class="icon-user"></i> {{ 'sign_up'|trans({}, 'route_homepage')|raw }}
                    </a>
                </li>
            </ul>
            <ul id="two-buttons">
                <li>
                    <a href="{{ path('contribute') }}" class="btn btn-primary" onclick="_gaq.push(['_trackEvent', 'SymfonyBricks', 'page#index', 'contribute']);">
                        <i class="icon-random"></i> {{ 'how_to_contribute'|trans({}, 'route_homepage') }}
                    </a>
                </li>
                <li>
                    <a href="{{ path('wiki_homepage') }}" class="btn btn-primary" onclick="_gaq.push(['_trackEvent', 'SymfonyBricks', 'page#index', 'wiki']);">
                        <i class="icon-plus"></i> {{ 'know_more'|trans({}, 'route_homepage') }}
                    </a>
                </li>
            </ul>

            <br><br>

            <i class="icon-quote-left icon-4x pull-left icon-muted"></i>
            <p style="">
                {% if 'it' == app.request.locale %}
                    L'obiettivo di SymfonyBricks è diventare una piattaforma social dove gli sviluppatori possano condividere la loro esperienza sul lavorare con Symfony.
                    <br />
                    Il codice sorgente di <a href="{{ url('homepage') }}">symfonybricks.com</a> è interamente open source.
                {% elseif 'es' == app.request.locale %}
                    El propósito de SymfonyBricks es convertirse en una plataforma social donde los desarrolladores pueden compartir sus experiencias sobre el trabajo con Symfony.
                    <br />
                    El código fuente de <a href="{{ url('homepage') }}">symfonybricks.com </ a> es completamente de código abierto.
                {% else %}
                    The purpose of SymfonyBricks is to become a social platform where developers can share their experiences about working with Symfony.
                    <br>
                    The source code of <a href="{{ url('homepage') }}">symfonybricks.com</a> is fully open source.
                {% endif %}
            </p>
        </div>
    </div>
    
    <hr>
    
    <div class="row" style="text-align: justify;">
        <div class="span12">
            <ul class="bricks-list">
                {% for brick in bricks %}
                    <li>
                        <a href="{{ path('brick_show', {slug: brick.slug}) }}" class="title">
                            <i class="icon-file"></i> {{ brick.title }}
                        </a>
                        <p class="brick-info">
                            <i class="icon-user"></i> <a href="{{ path('userprofile_show', {'username': brick.user.username}) }}">{{ brick.user }}</a>
                            |
                            <i class="icon-calendar"></i> {{ 'brick.last_update'|trans }}: {{ brick.updatedAt|date('d M Y') }}
                            |
                            {{ macrosBrick.toggleUserStarsBrick(brick) }}
                            {% if brick.brickHasTags|length > 0 %}
                                |
                                <i class="icon-tag"></i> {{ brick_formatted_tags(brick)|raw }}
                            {% endif %}
                        </p>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    
    <hr>
    
    <div class="row" style="text-align: justify;">
        <div class="span5">
            <h2>
                {% if 'it' == app.request.locale %}
                    Open source
                {% elseif 'es' == app.request.locale %}
                    Código abierto
                {% else %}
                    Open source
                {% endif %}
            </h2>
            {% if 'it' == app.request.locale %}
                Il codice sorgente del sito web che stai visitando è interamente disponibile su github: pronto per essere esaminato e migliorato.
            {% elseif 'es' == app.request.locale %}
                El código fuente de la página web que estás visitando es totalmente disponible en github: listo para ser examinado y mejorado.
            {% else %}
                The source code of the web site you are visiting is fully available on github: ready to be examined, forked, and improved.
            {% endif %}
            <br>
            <a href="https://github.com/inmarelibero/SymfonyBricks" target="_new">
                {% if 'it' == app.request.locale %}
                    Accedi al repository github.
                {% elseif 'es' == app.request.locale %}
                    Visita el repositorio github.
                {% else %}
                    Check out the github repository.
                {% endif %}
            </a>
            <br><br>
            {% if 'it' == app.request.locale %}
                Chiunque è invitato a collaborare: puoi dare una mano in molto modi. Siamo fan dell'open source, come tutte le persone che contribuiscono a Symfony. E ci aiutiamo ;)
            {% elseif 'es' == app.request.locale %}
                Todo el mundo está invitado a colaborar: puedes ayudar de muchas maneras. Somos fans del código abierto, como todas las personas que contribuyen a Symfony. Y nos ayudamos ;)
            {% else %}
                Everyone is invited to collaborate: you can give a hand in many, many ways. We are open source lovers, like all the people contributing to Symfony. And we help each other ;)
            {% endif %}
        </div>
        <div class="span5 offset2">
            <h2>
                {% if 'it' == app.request.locale %}
                    Per la comunità
                {% elseif 'es' == app.request.locale %}
                    Para la comunidad
                {% else %}
                    For the community
                {% endif %}
            </h2>

            {% if 'it' == app.request.locale %}
                L'obiettivo è diventare un repository omogeneo di frammenti di codice, ricette e guide (e altro che non riusciamo nemmeno ad immaginare ora) riguardanti Symfony e argomenti correlati.
            {% elseif 'es' == app.request.locale %}
                El objetivo es convertirse en un repositorio homogéneo de fragmentos de código, recetas y guías (y más cosas que no podemos ni siquiera imaginar ahora) sobre Symfony y temas relacionados.
            {% else %}
                The purpose is to become an homogeneous repository of code snippets, recipes and guides (and other we cannot even imagine now) about Symfony and topics related to it.
            {% endif %}

            <br><br>

            {% if 'it' == app.request.locale %}
                I contenuti di questo sito sono inviati da te: in base alle tue possibilità potrai condividere una nuova guida, contribuire alla sua traduzione, migliorarla, correggere errori, o semplicemente esprimere un giudizio sulla sua utilità.
            {% elseif 'es' == app.request.locale %}
               Los contenidos de esta plataforma estàn creados por ti: de acuerdo con tu capacidad, podrás compartir una nueva guía, contribuyr a su traducción, mejorarla, corregir errores, o simplemente expresar una opinión sobre su utilidad.
            {% else %}
                Contents will be submitted by you: depending on your possibilities you will post a new recipe, contribute to its translation, improve them, correct errors, or just express a judgement about its utility.
            {% endif %}
        </div>
    </div>
    
    <div class="row">
        <div class="span12">
            <h3>
                {% if 'it' == app.request.locale %}
                    Partecipa
                {% elseif 'es' == app.request.locale %}
                    Participa
                {% else %}
                    Get involved
                {% endif %}
            </h3>
            {% if 'it' == app.request.locale %}
                La prima cosa che puoi fare è mantenerti aggiornato attraverso Twitter e spargere la voce su SymfonyBricks.
            {% elseif 'es' == app.request.locale %}
                Lo primero que puedes hacer es mantenerte al día a través de Twitter y difundir la palabra acerca de SymfonyBricks.
            {% else %}
                The first important thing you can do is to use Twitter to stay tuned with the latest updates and to spread the word about SymfonyBricks.
            {% endif %}
        </div>
    </div>
    <br><br>
    <div class="row">
        <div class="span6" style="text-align: right;">
            <p class="text-italic text-small">
                {% if 'it' == app.request.locale %}
                    Segui SymfonyBricks su Twitter
                {% elseif 'es' == app.request.locale %}
                    Sigue SymfonyBricks en Twitter
                {% else %}
                    Follow SymfonyBricks on Twitter
                {% endif %}
            </p>
            <a  class="socialite twitter-follow"
                href="https://twitter.com/SymfonyBricks"
                data-show-count="false"
            >
                Follow @SymfonyBricks
            </a>
        </div>
        <div class="span6">
            <p class="text-italic text-small">
                {% if 'it' == app.request.locale %}
                    Condividi il link
                {% elseif 'es' == app.request.locale %}
                    Comparte el enlace
                {% else %}
                    Share the link
                {% endif %}
                <a href="http://symfonybricks.com">symfonybricks.com</a>
            </p>
            <a  class="socialite twitter-share"
                href="http://twitter.com/share"
                data-url="http://symfonybricks.com/"
                data-via="SymfonyBricks"
            >
                Twitter
            </a>
        </div>
    </div>
    <br><br><br>
    <div class="row">
        <div class="span12">
            {{ 'contribute_next_step'|trans({'%href%': path('contribute')}, 'route_homepage')|raw }}
        </div>
    </div>
    
{% endblock %}