{% extends 'BricksSiteBundle::layout.html.twig' %}

{% block main %}

    <div id="index-wrapper">
        <div class="row">
            <div class="span9" style="text-align: left;">
            
                <h1 style="font-size: 70px;">SymfonyBricks</h1>
                
                <br><br><br>
                
                <p style="font-size: 22px;">
                    {% if 'it' == app.request.locale %}
                        Costruito dalla comunità, per la comunità.
                    {% else %}
                        Built by the community, for the community
                    {% endif %}
                </p>
                <br><br>
                <p style="font-size: 20px;">
                    {% if 'it' == app.request.locale %}
                        SymfonyBricks punta ad essere un repository di guide, frammenti di codice, ricette ed altro ancora.
                    {% else %}
                        SymfonyBricks aims to be a repository of guides, snippets of code, recipes and even more.
                    {% endif %}
                </p>
                <br>
                <p>
                    <i class="icon-download" style="vertical-align: middle;"></i>
                    {% if 'it' == app.request.locale %}
                        contenuti condivisi da chiunque almeno una volta abbia risolto un problema relativo a Symfony
                    {% else %}
                        knowledge is shared by everybody in his life ever solved a problem regarding Symfony
                    {% endif %}
                </p>
                <p>
                    <i class="icon-wrench" style="vertical-align: middle;"></i>
                    {% if 'it' == app.request.locale %}
                        utile agli stessi sviluppatori Symfony: non reinventiamo la ruota ogni volta!
                    {% else %}
                        useful to the same Symfony developers: don't reinvent the wheel!
                    {% endif %}
                </p>
                
            </div>
            <div class="span3 right-col">
            
                <ul>
                    <li>
                        <a href="{{ path('contribute') }}" class="btn">
                            <i class="icon-hand-right"></i> {{ 'how_to_contribute'|trans({}, 'route_homepage') }}
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('fos_user_registration_register') }}" class="btn btn-success"><i class="icon-user icon-white"></i> {{ 'sign_up'|trans({}, 'route_homepage') }}</a>
                    </li>
                </ul>
                <div id="relevant-links">
                    <h2>{{ 'relevant_links'|trans({}, 'route_homepage') }}</h2>
                    <ul>
                        <li><a href="https://github.com/inmarelibero/SymfonyBricks/blob/master/doc/RFC/RFC_1_-_Brick.md" target="_blank">RFC 1 - Brick</a></li>
                        <li><a href="https://github.com/inmarelibero/SymfonyBricks/issues/1" target="_blank">Tweaking documentation: is the purpose of symfonybricks.com clear?</a></li>
                        <li><a href="https://github.com/inmarelibero/SymfonyBricks/issues/2" target="_blank">What would you like to find on symfonybricks.com?</a></li>
                    </ul>
                </div>
                
                
            </div>
        </div>
        
        <hr>
        
        <div class="row" style="text-align: justify;">
            <div class="span12">
                <h2>Bricks</h2>
                
                <ul class="bricks-list">
                    {% for brick in bricks %}
                        <li>
                            <a href="{{ path('brick_show', {id: brick.id, slug: brick.slug}) }}">
                                {{ brick.title }}
                            </a>
                            <p>
                                <i class="icon-user"></i> <a href="{{ path('userprofile_show', {'username': brick.user.username}) }}">{{ brick.user }}</a>
                                |
                                <i class="icon-calendar"></i> {{ 'brick.last_update'|trans }}: {{ brick.updatedAt|date('d/m/Y') }}
                            </p>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        
        <hr>
        
        <div class="row" style="text-align: justify;">
            <div class="span5">
                <h2>Open source</h2>
                {% if 'it' == app.request.locale %}
                    Il codice sorgente del sito web che stai visitando è interamente disponibile su github: pronto per essere esaminato e migliorato.
                {% else %}
                    The source code of the web site you are visiting is fully available on github: ready to be examined, forked, and improved.
                {% endif %}
                <br>
                <a href="https://github.com/inmarelibero/SymfonyBricks" target="_new">
                    {% if 'it' == app.request.locale %}
                        Accedi al repository github.
                    {% else %}
                        Check out the github repository.
                    {% endif %}
                </a>
                <br><br>
                {% if 'it' == app.request.locale %}
                    Chiunque è invitato a collaborare: puoi dare una mano in molto modi. Siamo fan dell'open source, come tutte le persone che contribuiscono a Symfony. E ci aiutiamo ;)
                {% else %}
                    Everyone is invited to collaborate: you can give a hand in many, many ways. We are open source lovers, like all the people contributing to Symfony. And we help each other ;)
                {% endif %}
            </div>
            <div class="span5 offset2">
                <h2>
                    {% if 'it' == app.request.locale %}
                        Per la comunità
                    {% else %}
                        For the community
                    {% endif %}
                </h2>
                    {% if 'it' == app.request.locale %}
                        L'obiettivo è diventare un repository omogeneo di frammenti di codice, ricette e guide (e altro che non riusciamo nemmeno ad immaginare ora) riguardanti Symfony e argomenti correlati.
                    {% else %}
                        The purpose is to become an homogeneous repository of code snippets, recipes and guides (and other we cannot even imagine now) about Symfony and topics related to it.
                    {% endif %}
                <br><br>
                    {% if 'it' == app.request.locale %}
                        I contenuti di questo sito sono inviati da te: in base alle tue possibilità potrai condividere una nuova guida, contribuire alla sua traduzione, migliorarla, correggere errori, o semplicemente esprimere un giudizio sulla sua utilità.
                    {% else %}
                        Contents will be submitted by you: depending on your possibilities you will post a new recipe, contribute to its translation, improve them, correct errors, or just express a judgement about its utility.
                    {% endif %}
            </div>
        </div>
        
        <div class="row">
            <div class="span12">
                <h3>
                    {% if 'it' == app.request.locale %}
                        Partecipa
                    {% else %}
                        Get involved
                    {% endif %}
                </h3>
                {% if 'it' == app.request.locale %}
                    La prima cosa che puoi fare è mantenerti aggiornato attraverso Twitter e spargere la voce su SymfonyBricks.
                {% else %}
                    The first important thing you can do is to use Twitter to stay tuned with the latest updates and to spread the word about SymfonyBricks.
                {% endif %}
            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="span6" style="text-align: right;">
                <p class="text-italic text-small">
                    {% if 'it' == app.request.locale %}
                        Segui SymfonyBricks su Twitter
                    {% else %}
                        Follow SymfonyBricks on Twitter
                    {% endif %}
                </p>
                <a href="https://twitter.com/SymfonyBricks" class="twitter-follow-button" data-show-count="false">Follow @SymfonyBricks</a>
            </div>
            <div class="span6">
                <p class="text-italic text-small">
                    {% if 'it' == app.request.locale %}
                        Condividi il link
                    {% else %}
                        Share the link
                    {% endif %}
                    <a href="http://symfonybricks.com">symfonybricks.com</a>
                </p>
                <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://symfonybricks.com/" data-via="SymfonyBricks">Tweet</a>
            </div>
        </div>
        <br><br><br>
        <div class="row">
            <div class="span12">
                {{ 'contribute_next_step'|trans({'%href%': path('contribute')}, 'route_homepage')|raw }}
            </div>
        </div>
    </div>
    
{% endblock %}