<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <head>
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />

        {# META TAGS #}
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <title>{% spaceless %}{% block meta_title_content %}SymfonyBricks.com{% endblock %}{% endspaceless %}</title>
        <meta name="description" content="{% spaceless %}{% block meta_description_content %}Built by the community for the community. SymfonyBricks aims to be a repository of code, snippets and recipes useful to Symfony developers{% endblock %}{% endspaceless %}" />
        <meta name="keywords" content="{% spaceless %}{% block meta_keywords_content %}symfony, symfony2, symfony bricks, snippets, codes, recipes, cookbook, guides{% endblock %}{% endspaceless %}" />
        <meta name="robots" content="{% spaceless %}{% block meta_robots_content %}index, follow{% endblock %}{% endspaceless %}" />
        <meta name="googlebot" content="{% spaceless %}{% block meta_googlebot_content %}index, follow{% endblock %}{% endspaceless %}" />
        <meta name="author" content="{% spaceless %}{% block meta_author_content %}symfonybricks.com{% endblock %}{% endspaceless %}" />
        <meta name="language" content="{% spaceless %}{% block meta_language_content %}{{ app.request.locale }}{% endblock %}{% endspaceless %}" />

        <meta property="og:title" content="{% spaceless %}{% block meta_og_title_content %}SymfonyBricks.com{% endblock %}{% endspaceless %}" />
        <meta property="og:description" content="{% spaceless %}{% block meta_og_description_content %}Built by the community for the community. SymfonyBricks aims to be a repository of code, snippets and recipes useful to Symfony developers{% endblock %}{% endspaceless %}" />
        <meta property="og:image" content="{% spaceless %}{% block meta_og_image_content %}http://symfonybricks.com/img/logo-square.png{% endblock %}{% endspaceless %}" />
        {# END META TAGS #}
        
        {# canonical url #}
        <link rel="canonical" href="{% spaceless %}{% block canonical_url %}{{ app.request.uri }}{% endblock canonical_url %}{% endspaceless %}"/>
        
        {# load header javascripts #}
        {% javascripts '@javascripts_header' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        
        {# FOSJsRoutingBundle generated routes by controller #}
        <script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

        {# google analytics code #}
        <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-35256283-1']);
          _gaq.push(['_setDomainName', 'symfonybricks.com']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        </script>
        
        {# load stylesheets #}
        {% stylesheets '@stylesheets' %}
            <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
        {% endstylesheets %}
    </head>

    <body lang="{{app.request.locale}}" class="route-{{ app.request.get('_route') }} {% block body_class '' %}">

        <div class="wrapper">
            <header>
                <div class="navbar" id="main-navbar">
                    <div class="navbar-inner">
                        <div class="container">
                            <ul class="nav">
                                <li>
                                    <a href="{{ path('homepage') }}" id="brand">
                                        SymfonyBricks
                                    </a>
                                </li>
                                <li id="nav-search-bricks">
                                    <form action="{{ path('brick_search') }}">
                                        <div class="input-append">
                                            <input name="q" class="span2" size="16" type="text">
                                            <button class="btn" type="submit"><i class="icon-search"></i> </button>
                                        </div>
                                    </form>
                                </li>
                            </ul>
                            <ul class="nav pull-right">
                                <li id="nav-locales">
                                    <div class="btn-group">
                                        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                            {% if interface_translation_locales[app.request.locale] is not null %}
                                                <img src="{{ asset('img/flags/'~interface_translation_locales[app.request.locale]['flag']) }}">
                                            {% else %}
                                                {{ app.request.locale }}
                                            {% endif %}
                                            <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu">
                                            {% for locale in interface_translation_locales %}
                                                <li>
                                                    <a href="{{ path('homepage', {'_locale': locale.code}) }}">
                                                        <img src="{{ asset('img/flags/'~locale.flag) }}">
                                                    </a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                            <ul id="links-list" class="nav pull-right">
                                <li>
                                    <div class="btn-group">
                                        <a href="{{ path('contribute') }}" class=""><i class="icon-random"></i> {{ 'main_navbar.contribute'|trans }}</a>
                                        <button class="dropdown-toggle" data-toggle="dropdown">
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a href="{{ path('developers') }}"><i class="icon-cog"></i> {{ 'main_navbar.developers'|trans|capitalize }}</a>
                                            </li>
                                            <li>
                                                <a href="{{ path('contribute') }}"><i class="icon-random"></i> {{ 'main_navbar.contribute'|trans|capitalize }}</a>
                                            </li>
                                            <li>
                                                <a href="{{ path('changelog') }}"><i class="icon-align-left"></i> Changelog</a>
                                            </li>
                                            <li class="divider"></li>
                                            <li>
                                                <a href="https://github.com/inmarelibero/SymfonyBricks" target="_new">
                                                    <i class="icon-github"></i> {{ 'main_navbar.github_repository'|trans }}
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                {% if app.user and is_granted('IS_AUTHENTICATED_FULLY') %}
                                    <li>
                                        <div class="btn-group">
                                            <a href="{{ path('user_dashboard') }}" class=""><i class="icon-user"></i> {{ app.user.username }}</a>
                                            <button class="dropdown-toggle" data-toggle="dropdown">
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a href="{{ path('user_dashboard') }}"><i class="icon-home"></i> {{ 'user_navbar.dashboard'|trans({}, 'UserBundle')|capitalize }}</a>
                                                </li>
                                                <li id="messages">
                                                    <a href="{{ path('fos_message_inbox') }}"><i class="icon-inbox"></i> {{ 'user_navbar.message'|trans({}, 'UserBundle')|capitalize }}</a>
                                                </li>
                                                <li class="divider"></li>
                                                <li>
                                                <a href="{{ path('user_brick_starred') }}"><i class="icon-star"></i> {{ 'user_navbar.bricks_starred'|trans({}, 'UserBundle')|capitalize }}</a>
                                                </li>
                                                <li>
                                                    <a href="{{ path('user_brick') }}"><i class="icon-book"></i> {{ 'user_navbar.bricks'|trans({}, 'UserBundle')|capitalize }}</a>
                                                </li>
                                                <li class="divider"></li>
                                                <li>
                                                    <a href="{{ path('fos_user_profile_edit') }}"><i class="icon-user"></i> {{ 'user_navbar.edit_profile'|trans({}, 'UserBundle')|capitalize }}</a>
                                                </li>
                                                <li>
                                                    <a href="{{ path('fos_user_change_password') }}"><i class="icon-lock"></i> {{ 'user_navbar.change_password'|trans({}, 'UserBundle')|capitalize }}</a>
                                                </li>
                                                <li class="divider"></li>
                                                <li>
                                                    <a href="{{ path('logout') }}"><i class="icon-signout"></i> {{ 'user_navbar.logout'|trans({}, 'UserBundle')|capitalize }}</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                {% else %}
                                    <li>
                                        <a href="{{ path('fos_user_registration_register') }}">
                                            <i class="icon-user"></i> {{ 'main_navbar.register'|trans }}
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('fos_user_security_login') }}">
                                            <i class="icon-signin"></i> {{ 'main_navbar.sign_in'|trans }}
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                        {% block user_menu '' %}
                    </div>
                </div>
            </header>

            <section id="main">
            
                <div class="container">
                    {% if app.session.hasFlash('success') or app.session.hasFlash('error') or app.session.hasFlash('information') %}
                        <div class="row">
                            <div class="span12">
                            
                                {% set alertClass = '' %}
                                {% if app.session.hasFlash('success') %}
                                    {% set alertClass = 'alert-success' %}
                                {% elseif app.session.hasFlash('error') %}
                                    {% set alertClass = 'alert-error' %}
                                {% elseif app.session.hasFlash('information') %}
                                    {% set alertClass = 'alert-information' %}
                                {% endif %}
                                
                                <div class="alert {{ alertClass }}">
                                    <a class="close" data-dismiss="alert">×</a>
                                    
                                    {% if app.session.hasFlash('success') %}
                                        {{ app.session.getFlash('success')|trans({}, 'alert') }}
                                    {% elseif app.session.hasFlash('error') %}
                                        {{ app.session.getFlash('error')|trans({}, 'alert') }}
                                    {% elseif app.session.hasFlash('information') %}
                                        {{ app.session.getFlash('information')|trans({}, 'alert') }}
                                    {% endif %}
                                </div>
                                
                            </div>
                        </div>
                        
                    {% endif %}
            
                    {% block main %}{% endblock %}
                </div>
            </section>
            <div class="push-footer"></div>
        </div>

        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="span4">
                        <ul>
                            <li><a href="{{ path('homepage') }}" target="_new">SymfonyBricks.com</a></li>
                            <li><a href="https://github.com/inmarelibero/SymfonyBricks" target="_new">SymfonyBricks github repository</a></li>
                        </ul>
                    </div>
                    <div class="span4" style="text-align: center">
                        {% if 'it' == app.request.locale %}
                            online da: Lun 1 Ott 2012, 23:15:23 CEST
                        {% elseif 'es' == app.request.locale %}
                            en línea dese: Lun 1 Oct 2012, 23:15:23 CEST
                        {% else %}
                            online since: Mon 1 Oct 2012, 23:15:23 CEST
                        {% endif %}
                    </div>
                    <div class="span4" style="text-align: right">
                        <a  class="socialite twitter-follow"
                            href="https://twitter.com/SymfonyBricks"
                            data-show-count="false"
                        >
                            Follow @SymfonyBricks
                        </a>
                        <a  class="socialite twitter-follow"
                            href="https://twitter.com/inmarelibero"
                            data-show-count="false"
                        >
                            Follow @inmarelibero
                        </a>
                    </div>
                </div>
            </div>
        </footer>
        
        {# load footer javascripts #}
        {% javascripts '@javascripts_footer' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        
        <script>
            $(function() {
                // initialize Socialite buttons
            	Socialite.load();

                /**
                 * bind 'submit' event to all form.button-modal-message-form forms to submit messages through ajax
                 *
                 * see BricksMessageBundle:ButtonModalMessage:_buttonModalMessage.html.twig
                 */

                $('form.button-modal-message-form').on('submit', function(e) {
                    return messageAjaxSend($(this));
                });
            })
        </script>
        
        {# block #}
        {% block javascripts_footer '' %}
        
        {% render 'BricksUserBundle:Security:_modalLogin' %}
        
    </body>

</html>
