<!DOCTYPE html>
<html>
    <head>
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />

        {# SEO #}
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <title>{% spaceless %}{% block meta_title_content %}SymfonyBricks.com | Built by the community for the community{% endblock %}{% endspaceless %}</title>
        <meta name="description" content="{% spaceless %}{% block meta_description_content %}SymfonyBricks aims to be a repository of code, snippets and recipes useful to Symfony developers{% endblock %}{% endspaceless %}" />
        <meta name="keywords" content="{% spaceless %}{% block meta_keywords_content %}symfony, symfony2, symfony bricks, snippets, codes, recipes, cookbook, guides{% endblock %}{% endspaceless %}" />
        <meta name="robots" content="{% spaceless %}{% block meta_robots_content %}index, follow{% endblock %}{% endspaceless %}" />
        <meta name="googlebot" content="{% spaceless %}{% block meta_googlebot_content %}index, follow{% endblock %}{% endspaceless %}" />
        <meta name="author" content="{% spaceless %}{% block meta_author_content %}symfonybricks.com{% endblock %}{% endspaceless %}" />
        <meta name="language" content="{% spaceless %}{% block meta_language_content %}en{% endblock %}{% endspaceless %}" />
        
        {% stylesheets '@stylesheets' %}
            <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
        {% endstylesheets %}

        {% block javascripts_header %}
            {# twitter #}
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        {% endblock %}

        {# google analytics code #}
        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-35256283-1']);
          _gaq.push(['_setDomainName', 'symfonybricks.com']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>
    </head>

    <body lang="{{app.request.locale}}" class="{% block body_class '' %}">

        <div class="wrapper">
            <header>
                <div class="navbar navbar-fixed-top" id="main-navbar">
                    <div class="navbar-inner">
                        <div class="container">
                            <ul class="nav">
                                <li>
                                    <a href="{{ path('homepage') }}" id="brand">
                                        SymfonyBricks.com
                                    </a>
                                </li>
                            </ul>
                            <ul class="nav pull-right">
                                <li>
                                    <a href="{{ path('contribute') }}">
                                        contribute
                                    </a>
                                </li>
                                <li>
                                    <a href="https://github.com/inmarelibero/SymfonyBricks" target="_new">
                                        github repository
                                    </a>
                                </li>
                                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                    <li>
                                        <a href="{{ path('user_dashboard') }}"><i class="icon-user"></i> {{ app.user.username }}</a>                                    
                                    </li>
                                    <li>
                                        <a href="{{ path('fos_user_security_logout') }}"><i class="icon-off"></i></a>
                                    </li>

                                {% else %}
                                    <li>
                                        <a href="{{ path('fos_user_registration_register') }}">
                                            register
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('fos_user_security_login') }}">
                                            sign in
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
                {% block user_menu '' %}
            </header>

            <section id="main">
                <div class="container">
                    {% block main %}{% endblock %}
                </div>
            </section>
            <div class="push-footer"></div>
        </div>

        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="span4">
                        <ul>
                            <li><a href="{{ path('homepage') }}" target="_new">SymfonyBricks.com</a></li>
                            <li><a href="https://github.com/inmarelibero/SymfonyBricks" target="_new">SymfonyBricks github repository</a></li>
                        </ul>
                    </div>
                    <div class="span4" style="text-align: center">
                        online since Mon 1 Oct 2012 23:15:23 CEST
                    </div>
                    <div class="span4" style="text-align: right">
                        <a href="https://twitter.com/SymfonyBricks" class="twitter-follow-button" data-show-count="false">Follow @SymfonyBricks</a>
                        <br>
                        <a href="https://twitter.com/inmarelibero" class="twitter-follow-button" data-show-count="false">Follow @inmarelibero</a>
                    </div>
                </div>
            </div>
        </footer>

        {% javascripts '@javascripts' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% block javascripts_footer '' %}
    </body>

</html>
