{% extends 'BricksSiteBundle::layout.html.twig' %}

{# set class .user to the <body> tag #}
{% block body_class %}user{% endblock body_class %}

{# display the user menu #}
{% block user_menu %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <div class="navbar" id="user-navbar">
            <div class="navbar-inner">
                <div class="container">
                    <ul class="nav">
                        <li id="bashboard">
                            <a href="{{ path('user_dashboard') }}">
                                <i class="icon-home"></i> {{ 'user_navbar.dashboard'|trans({}, 'UserBundle')|capitalize }}
                            </a>
                        </li>
                        <li id="messages">
                            <a href="{{ path('fos_message_inbox') }}">
                                <i class="icon-inbox"></i> {{ 'user_navbar.message'|trans({}, 'UserBundle')|capitalize }}
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('user_brick_starred') }}">
                                <i class="icon-star"></i> {{ 'user_navbar.bricks_starred'|trans({}, 'UserBundle')|capitalize }}
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('user_brick') }}">
                                <i class="icon-book"></i> {{ 'user_navbar.bricks'|trans({}, 'UserBundle')|capitalize }}
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('user_brick_new') }}">
                                <i class="icon-check"></i> {{ 'user_navbar.create_brick'|trans({}, 'UserBundle')|capitalize }}
                            </a>
                        </li>
                        <li>
                            <a href="#myModal" role="button" class="btn" data-toggle="modal">Link</a>
                            <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                    <h3 id="myModalLabel">Import link</h3>
                                </div>
                                <div class="modal-body">
                                    <input type="text" name="url" id="import_url" value="http://vvv.tobiassjosten.net/symfony/trim-and-remove-twig-whitespace/"/>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-primary" onclick="importLink();">Fetch link content</button>
                                    <button class="btn btn-primary" onclick="createBrick();">Create brick</button>

                                    <form action="{{ path('user_brick_new') }}" method="post" id="form-link">
                                        <textarea name="content" id="content"></textarea>
                                    </form>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <ul class="nav pull-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="icon-user"></i> {{ 'user_navbar.profile'|trans({}, 'UserBundle')|capitalize }}
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="{{ path('fos_user_profile_edit') }}"><i class="icon-user"></i> {{ 'user_navbar.edit_profile'|trans({}, 'UserBundle')|capitalize }}</a>
                                </li>
                                <li>
                                    <a href="{{ path('fos_user_change_password') }}"><i class="icon-lock"></i> {{ 'user_navbar.change_password'|trans({}, 'UserBundle')|capitalize }}</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock user_menu %}

{# main content #}
{% block main %}
    {% block fos_user_content %}{% endblock fos_user_content %}
{% endblock main %}

{% block javascripts_footer %}
    <script>
        function importLink() {
            var url = $('#import_url').val();

            var modal_body = $('.modal-body');

            $.ajax({
                type:       "GET",
                url:        Routing.generate('fetch_link', { 'url': url }),
                cache:      false
            }).done(function(data) {
                console.log(data.markdown_content);
                modal_body.html(data.markdown_content);

                var form = $('#form-link');
                form.find('#content').val(data.markdown_entity_decoded);
            });

        }


        function createBrick() {
            var modal_body = $('.modal-body');

            var brickContent = modal_body.html();

            //console.log(brickContent);

            $('#form-link').submit();
        }
    </script>

{% endblock %}