{% extends "BricksSiteBundle::layout.html.twig" %}

{# SEO blocks #}
{% block meta_title_content %}Sign in | SymfonyBricks.com{% endblock %}
{% block meta_description_content %}Sign in to SymfonyBricks.com.{% endblock %}

{% block main %}

    <div class="row">
        <div class="span6 offset3">
        
            <h1>{{ 'security.login.page_title'|trans({}, 'FOSUserBundle') }}</h1>
            
            <br><br>
        
            <form action="{{ path("fos_user_security_check") }}" method="post" class="security-form">
            
                {% if error %}
                    <div class="errors">{{ error|trans({}, 'FOSUserBundle') }}</div>
                {% endif %}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            
                <label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
            
                <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
                <input type="password" id="password" name="_password" required="required" />
            
                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
                
                <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" class="btn btn-primary" />
            </form>
            
            <br><br>
            
            <a href="{{ path('fos_user_resetting_request') }}">{{ 'security.forgot_password'|trans({}, 'FOSUserBundle') }}</a>
            
        </div>
    </div>
    
{% endblock %}