{% extends "BricksUserBundle::layout.html.twig" %}

{% block main %}

    <div class="row">
        <div class="span12">
        
            <h1>{% trans from 'FOSMessageBundle' %}fos_message_bundle.messages_title{% endtrans %}</h1>

            <div id="messages-bar">

                <a href="{{ url('fos_message_thread_new' )}}" class="btn btn-small btn-primary pull-right">
                    <i class="icon-pencil"></i> {% trans from 'FOSMessageBundle' %}fos_message_bundle.send_new{% endtrans %}
                </a>

                <div class="btn-group">
                    <a href="{{ url('fos_message_inbox') }}" class="btn btn-small {{ (app.request.get('_route') == 'fos_message_inbox') ? 'btn-success':'' }}">
                        <i class="icon-inbox"></i> {% trans from 'FOSMessageBundle' %}fos_message_bundle.inbox{% endtrans %}
                    </a>
                    <a href="{{ url('fos_message_sent') }}" class="btn btn-small {{ (app.request.get('_route') == 'fos_message_sent') ? 'btn-success':'' }}">
                        <i class="icon-envelope"></i> {% trans from 'FOSMessageBundle' %}fos_message_bundle.sent{% endtrans %}
                    </a>
                </div>
            </div>
            
            
            {% block fos_message_content %}{% endblock %}
            
        </div>
    </div>
        
{% endblock main %}
