{#
    BricksMessageBundle:ButtonModalMessage:_buttonModalMessage.html.twig

    This template contains the form to send a message via ajax. If the user is not logged, it displays a modal window
    to login first.

    The form is attached to messageAjaxSend() contained in Bricks\MessageBundle\resources\js\message.js and initialized
    in BricksSiteBundle::layout.html.twig

    Every template to display a button for sending a message via ajx should extend this template

    {{ form_id }} variable must be passed by the extending template. (@FIX: generating a random number?)
#}

{% import 'BricksSiteBundle::macros/macrosBootstrapForms.html.twig' as macrosBootstrapForms %}

{# button to open the modal to send a message. if uer is not logged, ask the login #}
{% if is_granted('IS_AUTHENTICATED_FULLY') %}

    <button id="button-{{ form_id }}" type="button" data-toggle="modal" data-target="#modal-{{ form_id }}" class="btn btn-mini">
        {{ call_to_action_value|raw }}
    </button>

    <div id="modal-{{ form_id }}" class="modal hide fade button-modal-message-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <form id="{{ form_id }}" class="form form-horizontal button-modal-message-form" action="{{ path('message_ajax_send') }}" method="POST" novalidate>

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3>
                    {% block title %}
                        {{ 'fos_message_bundle.send_new'|trans({}, 'FOSMessageBundle')|capitalize }}
                    {% endblock %}
                </h3>
            </div>
            <div class="modal-body">

                <div id="ajax-messages">
                    <div class="success" >
                        {{ 'fos_message_bundle.sent_confirmation'|trans({}, 'FOSMessageBundle') }}

                        <div class="actions" >
                            <a href="javascript:void(0);" data-dismiss="modal" aria-hidden="true">{{ 'close'|trans }}</a>
                             |
                            <a href="{{ path('fos_message_sent') }}">{{ 'fos_message_bundle.go_to_sent'|trans({}, 'FOSMessageBundle')|lower }}</a>
                        </div>
                    </div>
                    <div class="errors"></div>
                </div>

                {% block help '' %}

                <div class="control-group ">
                    <label class="control-label">
                        {{ 'fos_message_bundle.form.recipient.label'|trans({}, 'FOSMessageBundle') }}
                    </label>
                    <div class="controls">
                        {% block recipient %}
                            {{ form.recipient.vars.value }}
                        {% endblock %}
                    </div>
                </div>

                {{
                    macrosBootstrapForms.controlGroup(form.body, {
                        label: 'fos_message_bundle.form.body.label'|trans({}, 'FOSMessageBundle')
                    })
                }}

                {{ form_widget(form.recipient, {'attr': {'style': 'display:none'}}) }}
                {{ form_widget(form.brick, {'attr': {'style': 'display:none'}}) }}

                {{ form_rest(form) }}
            </div>

            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">
                    <i class="icon-ok"></i> {{ 'fos_message_bundle.send'|trans({}, 'FOSMessageBundle') }}
                </button>
            </div>

        </form>
    </div>

{% else %}

    <a href="#modal-login" id="button-{{ form_id }}" class="btn btn-mini" data-toggle="modal">
        {{ call_to_action_value|raw }}
    </a>

{% endif %}
